a{
	text-decoration: none;
	}
.flex-container{
 	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: red;
	}
.flex-container > div{
 	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: red;
	}
a{
	color: black
	
	}
body{
	
}







