*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: 'Poppins', sans-serif;
	}
html{
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100vh%
	overflow-x: hidden;
	background-color: black;
	color: white;
}
header{
	margin-top: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 9%;
	background-color: transparent;
	filter: drop-shadow(10px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

/*hi ho*/
.flex-container{
 	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: red;
	}
.flex-container > div{
 	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: red;
	}








